.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(69, 69, 69, 0.69);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    padding: 10px;
}

.modal-title {
    margin: auto;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.modal-content {
    width: 50%;
    background-color: white;
}

button {
    margin: 5px;
}